@tailwind base; /* Tailwind's base styles, if any */
@tailwind components; /* Tailwind's component classes, if any */
@tailwind utilities; /* Tailwind's utility classes, if any */

@layer components {
    @font-face {
        font-family: 'Poppins';
        src: url('../assets/font/poppins-regular.ttf');
    }
}